:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #26939f;
    --gris: #757575;
}
/*truco para uniformidad del texto para los navegadores*/
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
/*Se aplica desde 0 pixeles*/
body {
    background-color: white;
}
/**recpmendado
480 ppx para movile
768 para tablets*/


 


/*El punto hace referencia a clases*/
.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}

.navegacion-principal{
    background-color: var(--secundario);
    /*margin es por fuera y padding es por dentro*/
    display: flex; /*flexbox esta diseñao para alinear elembtos en tus diseños*/
    /*justify-content para filas/aling-items es para columnas(flex-direction)*/
    justify-content: space-between;
    font-weight: bold;/*poner negrita*/
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
    }
}
.navegacion-principal a:hover{ /*para poner el cursor en el hipervinculo*/
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion-principal a{
color: var(--blanco);
text-decoration: none; /*remueve subrayado en el texto*/
padding: 1rem;
}

.contenedor{
width: 120rem; /*1200 pixeles porque 1 rem= 10px*/
margin: 0 auto;
}

.nav-bg{
    background-color: var(--secundario);
}
.hero{
    background-image: url(../img/hero.jpg); /*es para regresar un nivel de direcctorio ya que la carpeta esta fuera del css/
    background-repeat: no-repeat; /* Sirve para evitar la repetición de la imagen cuando es pequeña*/
    background-size: cover; /* Sirve para cubrir la imagen con todo el tamaño*/
}